{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Dashboard</title>
  </head>
  <body>
    <p><a class="btn-group" href="/home">All Reflections</a>&nbsp;&nbsp;&nbsp;<a href="/logout">Log Out</a></p>
    <h1>What's on your mind today?</h1>
    <h2 class="btn-group btn-group-justified" role="group">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/reflection">Add A Reflection</a><h2>
    <p>&nbsp;&nbsp;<img src="{% static 'chimeHackApp/images/dashboard.jpg' %}" width=300px height=300px></p>
  </body>
</html>
