{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <p>&nbsp;&nbsp;<img src="{% static 'chimeHackApp/images/log.jpg' %}" width=300px height=300px></p>
    <form action="loggedIn" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputUserName">Username</label>
        <input type="text" name="username" class="form-control" id="exampleInputUserName" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form><br>
    <h4>or</h4>
    <h3><a href="/register">New User</a></h3>
    {% if messages %}
     <ul class="messages">
       {% for message in messages %}
       <li{% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}
     </li>
       {% endfor %}
     </ul>
     {% endif %}
 </body>
</html>
