<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><a href="/dashboard">Dashboard</a>&nbsp;&nbsp;&nbsp;<a href="/viewAll">View All Reflections</a></p>
    <form action="/essay" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <p>Title</p>
        <input type="text" name="title" class="form-control" id="exampleTitle">
      </div>
      <div class="form-group">
        <p>Essay</p>
        <textarea rows="4" cols="50" name="essay" class="form-control" id="exampleInputEssay"></textarea>
      </div><br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </body>
</html>
